.carousel-wrapper {
    border-radius: var(--border-radius);
    padding-top: 0;
    min-height: 70vh ;
}

.carousel {
    height: 200px;
}

.carousel .carousel-item>img {
    border-radius: var(--border-radius);
}
.carousel .carousel-item.active>img {
    border: solid white 1px !important;
}

.carousel-wrapper
.project-title-wrapper {
    min-height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .project-title-wrapper .project-title {
} */

.carousel-project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.carousel-project-links h3{
    margin: 1em;
    margin-top: 0;
}

.carousel-wrapper
.carousel-project-description{
    margin-top: 1em;
}

/* .carousel .carousel-item>img {
    width: 300px;
} */