.carousel-wrapper {
  border-radius: var(--border-radius);
  padding-top: 0;
  height: 70vh;
  overflow-x: scroll;
}

.carousel {
  height: 300px;
}

.carousel .carousel-item {
  overflow-x: scroll;
}

.carousel .carousel-item > img {
  border-radius: var(--border-radius);
}
.carousel .carousel-item.active > img {
  border: solid var(--color-theme-lighter) 1px !important;
}

.carousel-wrapper .project-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .indicators .indicator-item {
  margin: 1em 0.5em;
  background-color: var(--color-theme-lighter);
}
.carousel .indicators .indicator-item.active {
  background-color: var(--color-theme);
}

.carousel-wrapper p {
  text-align: center;
}
