.skills-container {
    margin: 2rem 1rem 1rem 1rem;
    display: flex;
  }

.skill:hover{
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {

  .skills-container {
    flex-direction: column;
    margin-top: 0;
  }
}