@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

html, body {
  position: relative;
  scroll-behavior: smooth
}

body {
  /* background-image: url("https://i.imgur.com/1BMWQfn.png"); */
  background-image: url("./images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem;
  color: rgb(214, 214, 214);
  text-align: center;
  line-height: 1.75rem;
  letter-spacing: .05rem;
}

.preloader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hello {
  margin-top: 0;
}

.bg-dark {
  /* color: rgb(107, 107, 112); */
  background-color: rgb(107, 107, 112) !important;
}

.bg-light {
  background-color: rgb(125, 125, 133) !important;
}

.bg-transparent {
  background-color: rgba(255, 255, 255, 0) !important;
}

.p1 {
  padding: .5rem .5rem !important;
}

.divider {
  margin-bottom: .5rem;
}


/* NAVBAR ========================================================== */
nav {
  background-color: #2b3035 !important ;
}

.brand-logo {
  position: absolute;
  left: 2rem;
}

.sidenav, .sidenav li>a {
  margin: 1rem 0 0 0;
  background-color: rgb(107, 107, 112) !important;
  border: solid .1rem rgb(185, 185, 185);
  border-radius: .3rem;
  /* color: rgb(214, 214, 214) !important ; */
  color: rgb(0, 204, 255)!important ;
  border: solid .1rem rgb(0, 204, 255);
  border-radius: .3rem;
}

.sidenav {
  width: 10rem;
  height:auto;
  background-color: rgba(0,0,0,0) !important;
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#mobile-nav {
  margin-top: 0;
}


/* BUTTON & LINK BEHAVIOR ========================================== */
a:hover, i:hover {
  cursor: pointer;
  color: rgba(230, 89, 230, 0.842) !important;
}

.hover:hover {
  cursor: pointer;
  color: rgba(230, 89, 230, 0.842) !important;
  font-size: 1.05rem;
}

.contact-btn {
  margin: 10px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.288);
  border: solid .1rem rgb(185, 185, 185);
  border-radius: .3rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 10px;
  color: rgb(0, 204, 255)!important ;
  border: solid .1rem rgb(0, 204, 255) !important;
  border-radius: .3rem;
  background-color: #00000000;
}

/* nav buttons and footer buttons */
.link-btn:hover {
  /* color: rgba(230, 89, 230, 0.842); */
  border: solid .1rem rgba(230, 89, 230, 0.842) !important;
  border-radius: .3rem;
}

/* removes blue line underneath a links */
a:-webkit-any-link{
  text-decoration:none !important;
}

/* HOME ======================================================== */

.about-container {
  margin: 1rem 1rem 4rem 1rem;
  padding: 1rem;
  /* border:1px solid rgba(214, 214, 214,0.5) ; */
  border-radius: .3rem;
  text-align: center;
  overflow-x: hidden;
}

.portrait {
  display: block;
  margin: 0 1rem 0 0;
  float: left;
  width:200px;
  border-radius: 1rem;
}

.skills-container {
  margin: 2rem 1rem 1rem 1rem;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  border: none;
  padding: none;
}

.skills-card {
  margin: 0 0rem 4rem 0rem !important;
  padding: 1rem;
  height: 275px;
  /* border:1px solid rgba(214, 214, 214,0.5) ; */
  border-radius: .3rem;
  text-align: center;
}

.shield {

  margin: .25rem;
  border:1px solid rgba(0, 0, 0, 0.5) ;
  border-radius: .3rem;
}

.shield:hover {
  border:3px solid rgba(0, 0, 0, 0) ;
  border-radius: .3rem;
}

.skill:hover{
  border:3px solid rgba(0, 0, 0, 0) ;
  border-radius: .3rem;
}


/* PROJECTS ===================================================== */
.portfolio-container {
  border-radius: .3rem;
}

.current-project-img{
max-width: 90vw;
}

.project-img {
  max-width: 80vw;
}

.portfolio-link {
  color: rgb(0, 204, 255);
  text-decoration: underline;
}

.card-img-top {
  opacity:.8;
}

.card-img-top:hover {
  opacity: 1;
}
.card-content {
  border: 1px solid white;
  padding-bottom: 3rem;
  border-bottom-left-radius : 1rem !important;
  border-bottom-right-radius : 1rem !important;
}
.card .card-image .card-title  {
  right:0 !important;
  padding-bottom: .5rem !important;
  padding-right: .5rem  !important;
  border-radius: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0) !important;
  /* width:250px; */
}

.project-icon {
  border: solid .1rem rgba(0, 204, 255, .05);
  color: rgb(0, 204, 255);
  border-radius: 1rem;
}


/*CONTACT =========================================================== */
.contact-container {
  margin-bottom: 1rem !important;
  border:1px solid rgba(214, 214, 214,0.5) ;
  border-radius: .3rem;
}


.contact-h1 {
  margin: 1rem auto;
  text-align: center;
}

/* .contact-row {
  width: 80%;
  border-radius: .3rem;
  margin: 1rem auto;
  padding: 1rem;
} */

.contact-row-2 {
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  border:1px solid rgba(214, 214, 214,0.1) ;
  border-radius: .3rem;
  text-align: center;
}

.contact-row {
  margin: 1rem 0 0 0;
  display: flex;
  align-items: center;
  width: auto;
}

.contact-link {
  margin-right: 2rem;
}

.contact-icon {
  margin-right: 2.5rem;
}

/* FOOTER*/

.page-footer {
  margin: 2rem 2rem;
  text-align: left;
  padding-top: 0;
  color: rgb(214, 214, 214);

}

.footer-title {
  text-align: left;
  margin-left: 2rem;
}

/* .page-footer>h2 {
  margin: 0;
} */

/* .page-footer>h6 {
  margin-bottom: 1rem !important;
} */
@media screen and (max-width: 500px) {

  h1, h2, h3, h4, h5, h6 {
    text-align: center !important;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .portrait {
      float: none;
      margin: 1rem auto;
  }
  
  .portfolio-card-l, .portfolio-card-r {
    margin: 0 auto;
    padding: 1rem;
  }
  
  .about-container{
    text-align: left ;
    padding-top: 0;
    text-align: center;
  }

  .skills-container {
    flex-direction: column;
    margin-top: 0;
  }

  .skills-card {
    height: auto;
    margin: 1rem;
    padding: none;
  }

  .project-img {
    width: 80vw;
  }

  .contact-row {
      width: 100%;
      margin: 1rem auto;
  }
}