.about-container {
  margin: 4em 0 4em 0;
}

.about-container p {
  text-indent: 2em;
}

.portrait {
  display: block;
  margin: 0 1em 0 ;
  float: left;
  width:200px;
  border-radius: 50%;
}

.skills-container {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  border: none;
  padding: none;
}

.skills-card {
  margin: 0 0rem 4rem 0rem !important;
  padding: 1rem;
  height: 275px;
  border-radius: var(--border-radius);
  text-align: center;
}

.skill:hover{
  border:3px solid rgba(0, 0, 0, 0) ;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 480px) {

  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-container p {
    margin-left: 1em;
  }

  .portrait {
    float: none;
    margin: 0 auto 2em auto;
  }

  .skills-container {
    flex-direction: column;
    margin-top: 0;
  }

  .skills-card {
    height: auto;
    margin: 1rem;
    padding: none;
  }
}