nav, nav.nav-wrapper {
  position: relative;
  display: inline-block;
  background: -webkit-linear-gradient(left, var(--nav-color) 0%, var(--nav-color-solid) 40%, var(--nav-color-solid) 60%, var(--nav-color) 100%);
  /* background-color: var(--nav-color-solid); */
}

/* nav name position from left of screen, remains centeres on mobile */
.brand-logo {
  left: .5em;
}

/* poaition menu icon */
nav .sidenav-trigger {
  float: right;
  margin: 0 0 0 0;
}

/* overwrite materialize-css */
.sidenav {
  /* border: solid red 1px; */
  top: 64px;
  background-color: var(--nav-color);
  background: -webkit-linear-gradient(236deg, var(--nav-color-solid) 0%, var(--nav-color-solid) 30%,var(--transparent) 100%);

  backdrop-filter: blur(5px);
  box-shadow: none;
}

/* sidnav link styling */
.sidenav li>a {
  margin: 1em;
  border: solid .1rem var(--theme0);
  border-radius: var(--border-radius);
  backdrop-filter: blur(5px);
  text-align: center;
  color: var(--text-light);
}

/* overwrite materialize-css */
#mobile-nav {
  margin-top: 0;
}

/* adjust sidenav position on tablet/mobile devices */
@media screen and (max-width: 600px) {
  .sidenav {
    top: 54px;
  }
}